:root {
    --primary-background:  #2D112C;
    --dark-orange:  #ac3916;
    --bright-orange: #D87034;
    

    --orpheus-font: "trajan-pro-3", sans-serif;
    --body-font: "Lato", serif;
}

body {
    background-color: var(--primary-background);
        color: white;
font-family: var(--body-font);
font-weight: 700;
margin:0;
}

