:root {
    --primary-background:  #2D112C;
    --dark-orange:  #ac3916;
    --bright-orange: #D87034;
    

    --orpheus-font: "Canter", sans-serif;
    --body-font: "Lato", serif;
}

@font-face {
    font-family: "Canter";
    src: url("");
    }

body {
font-family: var(--body-font);
font-weight: 700;
margin:0;
}

